#### 판다스 옵션중에 out[ ]에 보여지는 행과 열 수 조절하는 방법

In [ ]:
import pandas as pd
pd.options.display.max_rows = 7
pd.options.display.max_columns = 9
pd.set_option('max_rows', 10)
pd.set_option('max_columns', 10)

#df_auto 데이터세트 읽어와서 확인함
df_auto = pd.read_csv('dataset/auto-mpg.csv')
df_auto

----------------------------------

#Q. df_auto 데이터세트에 대한 파악 내용을 기술하세요.

- df_auto 데이터세트는 ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'car name'] 9개 속성의 컬럼을 가지고 있다.
- 인덱스는 0에서 397으로 도출되는 것으로 보아 398개의 행이 있는 것을 알 수 있다.

In [ ]:
#컬럼확인
df_auto.columns

In [ ]:
#인덱스확인
df_auto.index

In [ ]:
#컬럼을 행으로 설정하기
#컬럼 순서 바꾸기
columns = [ 'car name','mpg', 'cylinders', 'displacement', 'horsepower', 'weight','acceleration', 'model year', 'origin']
#새로운 객체에 컬럼명 변경해서 저장
mtcars = df_auto[columns] 

mtcars.to_csv('dataset/mtcar.csv',index=None) #인덱스 없애고 저장
mtcars = pd.read_csv('dataset/mtcar.csv',index_col='car name') #인덱스 컬럼이 0이라는 의미가 '인덱스 컬럼 = 0'
mtcars

In [ ]:
#필요한 열만 도출 가능
mtcars_2 = mtcars[['car name','mpg', 'model year']]
mtcars_2 
#필요한 열과 행만 도축가능
mtcars_3 = mtcars[['car name','mpg', 'model year']][5:8]  #행범위추가
mtcars_3

In [ ]:
#필요한 행과 열
mtcars_3 = mtcars.iloc[5:8,0:3]
mtcars_3

------------------
과제

In [ ]:
#Q. iloc 혹은 loc 사용하여 다른 방법으로 필요한 행과 열만 도출해내기
#mtcars_3 = mtcars[['car name','mpg', 'model year']][5:8] 
#위와 동일하게 도출해보기

In [ ]:
#공부하려고 데이터 복사
mcar = df_auto.copy()
mcar

In [ ]:
#car name을 인덱스로 세팅하기
mcar1 = mcar.set_index('car name')
mcar1

In [ ]:
#인덱스 설정한 것을 다시 컬럼으로 돌리고
#기본인덱스로 다시 변환
mcar1.reset_index()

In [ ]:
#저장하고 불러오기 반복연습
mcar.to_csv('dataset/mcar.csv', index =None)
mcar = pd.read_csv('dataset/mcar.csv')

참고사이트 : https://kongdols-room.tistory.com/123

In [ ]:
#데이터프레임 정보
mcar.info()

In [ ]:
#데이터프레임 통계값 출력
mcar.describe()

In [ ]:
- 일정하게 범위를 맞춰주기 위해서 
- 상대적으로 비교할수 있는 숫자로 바꿔주기
- 각각의 데이터들이 차지하는 것들의 상대적 값으로 -> 객관적으로 값을 비교하기 위해서
- 전체 범위를 '0~1사이로 환산'을 해서 숫자료 표현하는 것 : 정규분포표같은
- 그러면는 각 열의 값들을 상대적으로 비교할 수 있다.
- 결측치가 있으면 결측치도 생각해 줘야한다.
- 이상치(평균과 특별히 차이가나는 값) 골라내야함
- 통계적인 방법으로 IQR(1사분위 3사분위 차이) 우선적으로 거른다 25%에서 - 1.5*IQR 이나 75% +1.5*IQR 
- 통계적 범위를 벗어나면 빼줌
- 뺀값중에 확인필요 -> 통계적 범위를 벗어나지만 맞으면 빼지않음

- 나라마다 다른 범위 환산 필요
- 범주화 필요하면(ex.나이 : 10대, 20대, 30대) 등급으로 범주화 필요

-> 다 종합해서 의미있는 변수로(컬럼추가해서) 쓸 수 있음 => 파생변수

In [ ]:
#value_counts : 값을 카운트해줌. 
# 값을 다 보고싶을떄는 unique()

#pd.set_option('max_rows', 100)
mcar.horsepower.value_counts()
mcar.horsepower.unique() #전체 값 다나옴
#'?'가 있어서 object -> 처리해줘야됨***

In [ ]:
#데이터를 가지고 무엇을 할 건가
#연비에 영향을 주는 요인이 뭐가 있는지 알고싶을때, 
#어떤 요인들 가지고 연비를 예측할 수 있는지

# 데이터 분석
#자동차 *연비에 영향을 주는 변수를 선택하여 연비 예측 모델을 생성
#연비와 관련없는 컬럼 제거
#horsepower 안에 ?있어서 처리하기 전이라 뺌 
mcar1 = mcar.drop(['car name','horsepower'],axis=1)
mcar.head() #앞부분 자료 보기

In [ ]:
import seaborn as sns
sns.pairplot(mcar1) 
#선점도(x,y축에 값을가지고 점을찍은것) 한번에 그려짐, 히스토그램은 자기자신(컬럼)의 값
#선점도 우상향 : 상관관계 높음, 양의 상관관계, 한쪽이 늘면 다른쪽도 늘어남
#선점도 우하향 : 역의 상관관계 , 한쪽이 늘면 한쪽이 줄어듬
#시각화 -> 상관관계가 보여짐

In [ ]:
#***상관관계
mcar1.corr() 
#1 양의 상관관계에서 가장 높은 값, -1 음의 상관관계에서 가장 높음// 0은 관계없음 
#일반적으로 0.7 이상이면 높은 상관관계로 보지만 상황에 따라 다르다. 실제로는 0.4 만 되도 높다고 생각됨. 변수가 너무 많아서
#머신러닝에서는 변수처리가 중요(의미있는 변수를 뽑아내는게 핵심적인 일)
#딥러닝은 그것또한 기계가 하겠다는 것 -> 많은 데이터가 필요//GPU를 쓰는 이유
# : 단순한 데이터가 많은것을 잘 처리함, 복합적인 것은 좀 어려움
#딥러닝 할 때는 GPU나 TPU(구글에서 개발)를 이용

In [ ]:
#최적의 컬럼 선택 - Feature engineering -> 알고리즘에 적용해줌

mcar2 = mcar1[['mpg','weight']]
mcar2.head() #앞부분만 보기

#위의 결과로 방정식을 세움 <<기계에게 데이터를 주면     
#기계가 학습해서 방정식(상관관계)찾아줌.     
#데이터가 많을수록 학습하여 찾아냄     
#y = ax+b << 방정식을 만든 y는 기울기(a,=가중치)와 y절편(b)에 따라 정해짐,     
#x는 정해져있기때문     
     
#예측값이 연속된 숫자로 만들어짐 - 회귀모델     
     
#분류 모델은 레이블이 달린 학습 데이터로 학습한 후에 새로 입력된 데이터가     
#학습했던 어느 그룹에 속하는 지를 찾아내는 방법     
#범주형(0이냐 1이냐) -> 분류보델     
     
#각각의 모델에 적합한 일고리즘이 있음     
#예) 출처 :https://kolikim.tistory.com/9 참고

#데이터 전처리, 탐색이 중요함@@    
#판다스 넘파이 컬렉션 씨본 등    
#데이터 가져오는 크롤링    
#종합해서 데이터 잘 확보하고 분석에 적합한 셋 만드는 것이   
#데이터 분석 문제해결을 위한 비중이 70~80%됨

-------------------------------
## 본격적인 판다스 전처리

### counter

In [ ]:
from collections import Counter
my_list = ['a','b','c','a','b','c','a']
count = Counter(my_list)
print(count)
#키-값(키의 개수), 딕셔너리형태로 반환됨

In [ ]:
#가장많이 나타나는 2개 출력
words = dict(count.most_common(n=2))
print(words)

### 반올림
df.round({'a열':2,'b열':1}) 소수점 각각 설정 가능

In [ ]:
#반올림
import pandas as pd
import numpy as np

#10에서 20사이 '실수'(uniform) 10개 뽑아줌./ 정수-> randint
col1 = np.random.uniform(10,20,size=10) 
col1

In [ ]:
col2 = np.random.uniform(10,20,size=10)

#배열을 시리즈로
sr1 = pd.Series(col1,name='col1')
sr2 = pd.Series(col2,name='col2')

#concat으로 합치기
df = pd.concat([sr1,sr2],axis=1)
df

In [ ]:
#소수점 2자리로 _ round
df = df.round({'col1':2,'col2':1}) #딕셔너리로 각각 설정 가능
df.head(3)

### Null 값

In [ ]:
#Null 값 입력
#df.iloc[1:3,:]=None
df.iloc[1:3,:]=np.nan
df.head(5)
df.astype()

In [ ]:
#NaN을 다른값으로 채우려면 df.fillna()
df.fillna(0,inplace=True)
df.head()

-----------------

In [ ]:
#float64 -> int로 df.astype(바꿀타입)
df = df.astype(int)
df.info()

In [ ]:
#서로 다르게 바꾸려면 딕셔너리 형태로 넣어줌
df = df.astype({'col1':'int','col2':'float'})
df.head(3) #앞부분 보며 확인

In [ ]:
#컬럼 새로 만들어 넣기
df['col0'] = list('abcdefghij')
df.head(3)

In [ ]:
#인덱스(행)에 열 넣어주기
df.set_index('col0', inplace=True)
df.head(3)

In [ ]:
df1= df.copy()
#복사함

#null값 집어넣기
df1.loc['c','col2']=np.nan
df1.head(3)

In [ ]:
#Q. col2 의 평균값으로 null값을 대체하세요.
df1.loc['c','col2']=df1['col2'].mean()
df1.head(3)

In [ ]:
#replace 이용
df3 = df1.replace(np.nan,df1['col2'].mean())
df3.head(3)

In [ ]:
df3 = df3.round({'col2':2}) #반올림 소수점 자리 설정
df3.head(3)

In [ ]:
# Q. col2를 정수로 반환하여 출력
df3 = df3.astype(int)
df3.head(3)

In [ ]:
df3['col2'] = df3.col2.astype(int)
df3.head(3)

-----------------------------

### null 값

In [ ]:
df3.iloc[1:3,1:2] = np.nan
df3.head()

In [ ]:
#null 값이 있는 행 삭제 dropna()
df3.dropna(subset=['col2'],inplace=True)
df3.head(3)
#NaN행 삭제

In [ ]:
#df1 정수로 타입변환
df1.astype(int)

In [ ]:
#행으로 넣었던 열을 다시 복귀
df2 = df1.reset_index()
df2.head(3)

In [ ]:
#reindex - 원하는 값만 도출
df3 = df2.reindex(index=[1,2],columns=['col1','col2'])
df3

In [ ]:
#원하는 값 도출에 타입설정도 가능
df4 = df2.reindex(index=[3,4],columns=['col1','col2']).astype(int)
df4

In [ ]:
#reindex 컬럼만 설정가능, axis=1
df5 = df2.reindex(['col1','col2'],axis=1)
df5.head(3)

In [ ]:
#행만 설정가능
df6 = df2.reindex([1,3],axis='index')  #axis='index' => axis=0 같은의미
df6

In [ ]:
#잊어버릴까봐 한번 더 짚고가기
#인덱스 설정한 것을 다시 컬럼으로 돌리고
#기본인덱스로 다시 변환
mcar1.reset_index()

------------------------------------

In [ ]:
import numpy as np
import pandas as pd

#넘파이로 숫자 만들기
#ar = np.random.randint(1,21,size=(4,5))
data1 = np.arange(1,21).reshape(4,5) #reshape(행,열) 형태
data2 = np.arange(11,31).reshape(5,4)

In [ ]:
#데이터프레임만들기
df1 = pd.DataFrame(data1, columns=list('abcde')) #위의 행열에 컬럼 a,b,c,d,e로 데이터프레임 형성
df2 = pd.DataFrame(data2, columns=list('dehi'))
print(df1)
print(df2)

### pd.concat( )
- 단순결합

In [ ]:
#df1+df2 행방향으로
#합치는거 concat

In [ ]:
con1 = pd.concat([df1,df2],axis=0, ignore_index=True) 
#ignore_index=True_ 기존 index 무시
con1

In [ ]:
pd.concat(objs,  # Series, DataFrame, Panel object

             axis=0,  # 0: 위+아래로 합치기, 1: 왼쪽+오른쪽으로 합치기

             join='outer', # 'outer': 합집합(union), 'inner': 교집합(intersection)

             join_axes=None, # axis=1 일 경우 특정 DataFrame의 index를 그대로 이용하려면 입력 (deprecated, 더이상 지원하지 않음)

             ignore_index=False,  # False: 기존 index 유지, True: 기존 index 무시
             keys=None, # 계층적 index 사용하려면 keys 튜플 입력

             levels=None,

             names=None, # index의 이름 부여하려면 names 튜플 입력

             verify_integrity=False, # True: index 중복 확인
             copy=True) # 복사

In [ ]:
#열방향으로 합치기, axis=1
con2 = pd.concat([df1,df2],axis=1)
con2

### pd.merge( )
- 컬럼기준
- 컬럼의 특정 조건을 가지고 병합

In [ ]:
#ind열 추가(공통된 열을 기준으로 합집합으로 병합해보기)
df1['ind']=[1,2,3,4]
df2['ind']=[1,2,3,4,5]

In [ ]:
#merge()를 이용한 결합 공동된 ind
pd.merge(df1,df2, on='ind', how='outer')   
#합집합 outer 교집합 inner(공통된 부분 출력,nan값 생기지 않음)

# on='ind',ind는 하나로 들어갔고(합집합)
#df1과 df2에 각각 있던 d와 e는 뒤에 _x랑_y가 자동으로 붙어서 구분되었다.

In [ ]:
#넣었던 열 빼기
df1=df1.drop('ind',axis=1)
df2=df2.drop('ind',axis=1)

### df.join(df2, isuffix='',rsuffix='')
- 인덱스 기준으로 결합
- 컬럼도 가능

In [ ]:
#join
#join은 인덱스 기준으로 결합(default는 교집합)
df1.join(df2,lsuffix='_a', rsuffix='_b') 
#앞쪽은 _a가 붙고 뒤에(df2)는 _b 붙음//공통된 속성 이름에

In [ ]:
df1.join(df2,lsuffix='_a', rsuffix='_b',how='inner')  #디폴트값 how='inner'

In [ ]:
df1.join(df2,lsuffix='_1', rsuffix='_2',how='outer') 
#outer 공통되지않은부분 NaN도 출력

In [ ]:
df1['ind']=[1,2,3,4]
df2['ind']=[1,2,3,4,5]
df1.set_index('ind').join(df2.set_index('ind'), lsuffix='_1', rsuffix='_2')
#join 인덱스(set 'ind') 기준으로 합병된다
#index 'ind'의 공통부분 1,2,3,4 인덱스 출력됨(디폴트값 how = 'inner')

In [ ]:
#on='ind' 조건을 주면 컬럼으로 바뀜, on에 'ind'를 주니 컬럼으로 처리함
#행이 아닌 열이 되어 추가됨. 합집합 되어 빈공간 NaN
df1.set_index('ind').join(df2.set_index('ind'), lsuffix='_1', rsuffix='_2',on='ind', how='outer')

-------------------------

In [ ]:
#df1 데이터프레임 다시정리
data1 = np.arange(1,21).reshape(4,5)
df1 = pd.DataFrame(data1, columns=list('abcde')
df1['ind']=[1,2,3,4] #열 추가

In [ ]:
# a와 b의 평균을 구하세요
df1[['a','b']].mean()

In [ ]:
#컬럼별 개수구하기
df1.count()

In [ ]:
#컬럼별 개수 합
df1.count().sum()

----------------------------

In [ ]:
#df 새로만들기
data=np.arange(1,22).reshape(7,3)
df = pd.DataFrame(data,columns=list('abc'),index=list('1122333'))
df

In [ ]:
#index=list('1122333'),인덱스를 컬럼으로 넣고, 기본값으로 변경됨
df.reset_index(inplace=True)
df

---------------------------
#### 과제

In [ ]:
data=np.arange(1,22).reshape(7,3)
df = pd.DataFrame(data,columns=list('abc'),index=list('1122333'))
#df 에서
#3개의 그룹을 만들어 그룹별로 계산 11,22,333
# a 는 평균, b는 최대값, c는 합계 각각 계산하여 출력하세요.

In [ ]:
a = list(df.groupby('index'))
print('그룹 1: a의 평균' , a[0][1]['a'].mean(),'/ b의 최대값',a[0][1]['b'].max(),'/ c의 합계',a[0][1]['c'].sum())
print('그룹 2: a의 평균' , a[1][1]['a'].mean(),'/ b의 최대값',a[1][1]['b'].max(),'/ c의 합계',a[1][1]['c'].sum())
print('그룹 3: a의 평균' , a[2][1]['a'].mean(),'/ b의 최대값',a[2][1]['b'].max(),'/ c의 합계',a[2][1]['c'].sum())

In [ ]:
a = list(df.groupby('index'))
for i,j in a:
    print('그룹 ',i,': a의 평균' , a[(int(i)-1)][1]['a'].mean(),'/ b의 최대값',a[(int(i)-1)][1]['b'].max(),'/ c의 합계',a[(int(i)-1)][1]['c'].sum())

In [ ]:
d_g = df.groupby('index').mean()
d_g1 = df.groupby('index').max()
d_g3 = df.groupby('index').sum()
print(d_g['a'],d_g1['b'],d_g3['c'])
df = pd.concat([d_g['a'],d_g1['b'],d_g3['c']],axis=1)
df.columns=['mean_a','max_b','sum_c']
df

### agg

In [ ]:
##모범답안
grouped = df.groupby('index')
cal = grouped.agg({'a':'mean','b':'max','c':'sum'})
print(cal)

In [ ]:
#Q.2 deck 열의 'NaN 갯수를 계산'하세요.
import seaborn as sns
titanic_df = sns.load_dataset('titanic')
titanic_df.head()

In [ ]:
titanic_df['deck'].isnull().sum()

In [ ]:
# Q3. titanic_df의 처음 5개 행에서'null 값을 찾아 출력'하세요.(True,False로)
titanic_df.head().isnull()

In [ ]:
# Q4. titanic_df의 각 칼럼별 null의 갯수를 for 반복문을 사용해서 구한 후 
# 출력하세요.
# (missing_count는 예외 처리하고 처리 방식은 0을 출력함)
c = titanic_df.columns
for i in list(c):
    print(i,':',titanic_df[i].isnull().sum())

In [ ]:
# Q5. 'mpg'를 'kpl' 로 환산하여 새로운 열을 생성하고 /처음 3개 행을 소수점 아래 
# 둘째 자리에서 반올림하여 출력하세요.
# mpg - 갤런당 마일(mile per gallon)을 kpl - 리터당 킬로미터(km/L)단위로 변환 
import pandas as pd
auto_df = pd.read_csv('./dataset/auto-mpg.csv')
auto_df.head()

In [ ]:
kpl = auto_df[['mpg']].mul(0.425)
auto_df['kpl']=kpl
pd.options.display.float_format = '{:.2f}'.format
auto_df.head(3)

In [ ]:
# 과제
# Q6. titanic_df 데이터 셋을 전처리하고 탐색하여 데이터 셋에 대한 설명 및
# 분석 과제를 기술하세요 (전처리 최소 5개 이상)

import seaborn as sns
pd.set_option('display.max_columns', None)
titanic_df = sns.load_dataset('titanic')
titanic_df.head()

In [ ]:
titanic_df.info()

In [ ]:
#1) 객실 클래스별로 생존자수 %

titanic_df1=titanic_df[['survived','class']]
df = titanic_df1.groupby('class').count()
df.columns=['num']
df['survived'] = titanic_df1.groupby('class').sum()
df1 = df.transpose()
df1

In [ ]:
survived_people = df1.loc['survived'].sum()

In [ ]:
df1.loc['survived'] = df1.loc['survived']/survived_people*100
s1 = df1.loc['survived']
print(s1)
df1.loc['survived'].sum()

In [ ]:
import matplotlib.pylab as plt

s1.plot.pie()
plt.title(" Survivor Ratio %")
#총 탑승객들의 클래스별 생존자 비율

In [ ]:
#2) 각 클래스별로 생존자 %
df2 = df1.iloc[1] = df1.iloc[1]/df1.iloc[0]*100
df2

In [ ]:
df2.plot.bar()
plt.title("By Class")

In [ ]:
#3)나이대별 생존자수
#승객 나이 평균
a = titanic_df['age'].mean()
a

In [ ]:
#survived와 나이를 추려서 비교해보려고 함
titanic_df1=titanic_df[['survived','age']]
titanic_df1

In [ ]:
#데이터 범주화 시도
#데이터 60대 까지로 설정
cond = titanic_df1.age <=69
cond

In [ ]:
#데이터 70대 이하로 간추림, 적용
titanic_df1 = titanic_df1[cond]
titanic_df1

In [ ]:
#나이대 계산식 함수설정
def age_categorize(age):
    #나눈 몫*10
    age = (age//10)*10
    return age

In [ ]:
#간추린 데이터에 age에 적용시킴, apply(함수)
age_ca = titanic_df1.age.apply(age_categorize)
print(age_ca,type(age_ca))

In [ ]:
#카테고리화
age_ca = age_ca.astype('category')

In [ ]:
#데이터프레임에 열 2번째 자리에 카테고리 추가. 열이름:age_category
titanic_df1.insert(2,'age_category', age_ca)

In [ ]:
titanic_df1.head() #앞부분 보고 확인

In [ ]:
#나이대별로 생존자수
titanic_df2=titanic_df1.copy()

In [ ]:
df_a = titanic_df2.groupby('age_category').count()
df_a

In [ ]:
df_a['age'].sum() #합계 확인

In [ ]:
#df_a['age']는 그대로 두고 df_a['survived']에만 적용을 시킴
df_a['survived'] = titanic_df2.groupby('age_category').sum()
df_a['survived']

In [ ]:
#번외
#그룹 지정은 여러 개할 수 있어서 한번 적용해 보았습니다.
df_a2 = titanic_df2.groupby(['age_category','survived']).count()
df_a2

In [ ]:
#df_a의 컬럼명 변경
df_a.columns=['survived','num']
df_a

In [ ]:
all_s = titanic_df1['survived'].sum()
all_s#슬라이싱전

In [ ]:
 titanic_df1['survived'].sum() #70대 이하

In [ ]:
#survived 맞는지 확인
df_a['survived'].sum()

In [ ]:
#결론 : 나이대 탑승객별 생존자수 확인
df_a.plot.bar()
plt.title("age_category")

In [ ]:
#4) 전체 생존자중에 나이대별 생존자수 퍼센트 비교.
df_a2 = df_a.copy()
df_a2['survived'] = df_a2['survived']/all_s*100   #all_s는 전체탑승객
df_a2

In [ ]:
df_a2['survived'].sum() 
#100 - df_a2['survived'].sum() 는 범주에서 제외시킨 것들의 값.

In [ ]:
df_a2['survived'].plot.pie()
plt.title("survived %")
#전체 생존자들[84%]중 나이대별 비율을 볼 수 있습니다.

In [ ]:
#탑승객 성별 정보 확인
titanic_df3 = titanic_df[['sex','survived']]
titanic_df3.head() #확인

In [ ]:
#성별에 따라 그룹만듬
df3['num']=titanic_df3.groupby('sex').count() 
df3 #확인

In [ ]:
# survived(0,1)값 더한거 넣음
df3['survived'] = titanic_df3.groupby('sex').sum()
df3

In [ ]:
#전체생존과
all_s

In [ ]:
#데이터생존값 비교
df3['survived'].sum()

In [ ]:
df3.plot.bar()
plt.title("survived")
#탑승객의 남성에 비해 여성 생존자가 많은 것을 비교할 수 있었습니다.

-------------------------------------
#### 0715 판다스 강의
타이타닉데이터 이용

In [ ]:
import pandas as pd
import seaborn as sns
pd.set_option('display.max_columns', None) #컬럼 전체 보이도록
titanic_df = sns.load_dataset('titanic')
titanic_df.head() #앞의 다섯행 보이게끔

### df.groupby( )

In [ ]:
tdf = titanic_df.copy()
tdf.sex.value_counts() #성별 값 확인

In [ ]:
#성별을 기준으로 생존자숫자
tdf.groupby('sex').count()[['survived']]

### .apply( )

In [ ]:
#apply 적용
# 함수맵핑
tdf.groupby('sex').apply(lambda x:x.count())[['survived']]

In [ ]:
# Q.sibsp, parch 컬럼의 각 원소에 1을 추가해 주세요.
tdf_e1=tdf[['sibsp','parch']].apply(lambda x: x + 1)
tdf_e1.head()

In [ ]:
#사용자 함수 이용 해보기
def uppercase(x):
    return x.upper() #대문자로 변경

tdf.sex.apply(uppercase)[0:2]  #male -> MALE // female->FEMALE

In [ ]:
#시리즈에 적용 한 것(열 속성 1개)
tdf.sex.apply(uppercase)

### 범주화

In [ ]:
#범주화
# Q. 'age' 컬럼을 범주화하여 새로운 'age_class'컬럼을 생성하세요.
len(tdf.age.unique()) #age열의 모든 값들(중복된거는 하나만보임) 개수세어보기

In [ ]:
def age_category(age):
    if age >= 0:
        age= (age//10)*10  #10으로 나눈 몫에 *10
        return age
        
age_class = tdf.age.apply(age_category)
agage_class = age_class.astype('category')
tdf.insert(4,'age_class', agage_class) #agage_class 카테고리 추가

In [ ]:
#** null값 처리 어떻게 할지

In [ ]:
tdf_a = tdf.groupby('age_class').count()  #나이대로 그룹
tdf_a

In [ ]:
#Q. 'survived' 'pclass' 'sex' 컬럼으로 데이터프레임 df1 생성하세요.
df1 = tdf[['survived','pclass','sex']]
df1.head() #확인

In [ ]:
# Q. df1에서 pclass가 3인 승객의 개수를 구하세요.
df1.pclass.value_counts()[3]

a = (df1.pclass == 3)
df1[a].count()

In [ ]:
#value_counts 이용
df1.pclass.value_counts()

In [ ]:
#filter 함수 이용
len(list(filter(lambda x:x ==3, df1.pclass)))

In [ ]:
tdf.columns #컬럼확인

### 결측치 처리

In [ ]:
#embark_town의 널값을 처리
tdf.embark_town.isnull().sum() #널값 확인 Null True 1 False 0

In [ ]:
#널처리 하는 방법
#embark_town 열의 NaN값을 바로 앞에 있는 값(ffill;front fill)으로 변경하세요.
tdf.embark_town.fillna(method='ffill', inplace = True) #829번째 null값이
tdf.embark_town[827:831] #확인

(1) 결측값을 특정 값으로 채우기 (replace missing values with scalar value) : df.fillna(0)
                         
(2) 결측값을 앞 방향 혹은 뒷 방향으로 채우기 (fill gaps forward or backward)
          
      :fillna(method='ffill' or 'pad'), fillna(method='bfill' or 'backfill')


           
(3) 앞/뒤 방향으로 결측값 채우는 회수를 제한하기 (limit the amount of filling)
            
     :fillna(method='ffill', limit=number), fillna(method='bfill', limit=number
     
                          
(4) 결측값을 변수별 평균으로 대체하기(filling missing values with mean per columns)

      :df.fillna(df.mean()), df.where(pd.notnull(df), df.mean(), axis='columns')

                                
(5) 결측값을 다른 변수의 값으로 대체하기

      (filling missing values with another columns' values)




출처: https://rfriend.tistory.com/262 [R, Python 분석과 프로그래밍의 친구 (by R Friend)]

---------------------

In [ ]:
import pandas as pd
fifa = pd.read_csv('dataset/FIFA.csv') #kaggle에서 가져오신 자료
fifa.head()

In [ ]:
fifa1 = fifa.copy() #자료 복사해서 사용
fifa.shape #행,열 형태확인

#height(feet) -> cm 로 변환

In [ ]:
#height 값을 cm로 변환하여 새로운 컬럼(height_cm)을 생성하세요
cm = 30.48

def ftinch_to_cm(ftinch):
    ftinchlist = ftinch.split("'")
    ft = int(ftinchlist[0])
    inch = int(ftinchlist[1])
    ftcm = ft*30.48
    incm = inch*2.54
    total = ftcm + incm
    return total
fifa['Height_cm'] = fifa['Height'].apply(ftinch_to_cm)
fifa.head()

In [ ]:
def ht_ex(x):
    f,i = map(int, x.split("'"))
    return f*30.48 + i*2.54
              
fifa['Height_cm'] = fifa['Height'].apply(ht_ex)
fifa.head()

In [ ]:
fifa.info() #정보확인

#### 과제

In [ ]:
#fifa player 들의 연봉을 예측하는 모델을 구축하려고 한다.
#주어진 fifa date Frame에서 전처리 및 탐색하여 모델에 적합한 분석용 데이터셋을 작성하고
#그 근거를 기술하세요

#1. 변수축소 -> 전처리
#2. 거른 변수들을 전처리 및 탐색
#3. 분석용 데이터셋을 작성

- null값 처리
- 중복 및 불필요한 컬럼 제거
- 파생변수 생성(의미있는)
- 그룹화 시켜서 특징 알 수 있도록
- 범주화
- 데이터 타입 변경
- 상광관계 어떤지
- 이상치 

= 배운거 다 이용해서 위의 과제 수행하기

In [ ]:
import matplotlib.pyplot as plt 
import seaborn as sns 
import pandas as pd
fifa = pd.read_csv('dataset/FIFA.csv') #kaggle에서 가져오신 자료
fifa.head()

In [ ]:
fifa.drop('ID',axis=1).head()

In [ ]:
len(fifa.columns)

In [ ]:
# 상관관계 분석 (Correlogram)
import numpy as np
def draw_top_corrmat(df,y,k):
    y_corrmat = df.corr()
    y_cols = y_corrmat.nlargest(k,y)[y].index
    cm = np.corrcoef(df[y_cols].values.T)
    f, ax = plt.subplots(figsize=(8,6))
    hm = sns.heatmap(cm, cbar=True, annot=True, square=True, fmt='.3f', annot_kws={'size': 10}, yticklabels=y_cols.values, xticklabels=y_cols.values)
    plt.show()
    
draw_top_corrmat(fifa2,'Release_Clause',5)

In [ ]:
def draw_corrmat(df):
  y_corrmat = df.corr()
  f, ax = plt.subplots(figsize=(8,5))
  sns.heatmap(y_corrmat, vmax=.8, annot=True, fmt='.2f', square=True);
  
draw_corrmat(fifa)

In [ ]:
#1) 등번호에 따른 포지션과 Release_Clause	Value	Wage
fifa1 = fifa.copy()
fifa2 = fifa1.groupby('Jersey_Number').mean()
fifa2=fifa2.drop(['ID','Weight_lb','Contract_Valid_Until'], axis=1).astype(int)

In [ ]:
fifa2.isnull().sum().to_frame('nan_count') #NaN값 없음

In [ ]:
fifa2.plot(y=['Release_Clause','Value'])
# 등번호가 Release_Clause,Value를 비례하지는 않지만
# Release_Clause,Value 가 서로 비례하는것을 알 수 있다.

참고공부자료 출처:https://towardsdatascience.com/exploratory-data-analysis-of-the-fifa-19-dataset-in-python-24eb27de9e59

In [ ]:
import pandas as pd
fifa = pd.read_csv('dataset/FIFA.csv')
fifa.head()

In [ ]:
fifa = fifa[['Name', 'Age', 'Nationality', 'Value', 'Wage', 'Preferred_Foot', 'Height', 'Weight_lb', 'Position', 'Overall']]
fifa.head() #필요한 열만 추출

In [ ]:
#height 단위 변환 
Height_cm = []
for i in list(fifa['Height'].values):
    try : 
        Height_cm.append((float(str(i)[0])*12.0 + float(str(i)[2:]))*2.54)
    except ValueError:
        Height_cm.append(np.nan)   #np.nan (numpy ‘not a number’)
        
fifa['Height_cm'] = Height_cm

In [ ]:
#결측치 제거
fifa.dropna(inplace = True)
fifa['Height_cm'].head() #확인

In [ ]:
#키 평균, 표준편차
print("Mean: ", fifa['Height_cm'].mean())
print("Standard Deviation: ", fifa['Height_cm'].std())

In [ ]:
#We can also generate a histogram of the heights:

import seaborn as sns
sns.set()
fifa['Height_cm'].hist(bins = 10)
#lt.hist( bins=100, density=True, alpha=0.7, histtype='step')
#bins는 몇 개의 영역으로 쪼갤지, 
#density=True로 설정해주면, 밀도함수가 되어서 막대의 아래 면적이 1
#alpha는 투명도
#histtype ‘step’은막대 내부가 비어있고, ‘stepfilled’로 설정하면 막대 내부가 채워짐.

#hist 히스토그램 도출
# 키 170~200사이, 175~190사이가 많은것을 알 수 있슴.

In [ ]:
#We can also convert the weight column to kilograms #킬로그램으로 변환
fifa['Weight_kg'] = fifa['Weight_lb'].astype(float)/2.20462
print(fifa.head())

In [ ]:
#사용자 함수 설정

def get_statistics(numeric_column_name):
    print("Mean {}: ".format(numeric_column_name), fifa[numeric_column_name].mean())
    print("Standard Deviation in {}: ".format(numeric_column_name), fifa[numeric_column_name].std())
    sns.set()
    plt.title("{} Histogram".format(numeric_column_name))
    fifa[numeric_column_name].hist(bins = 10) #히스토그램 도출 함수
    
get_statistics('Weight_kg') #평균값과 표준편차구하고 히스토그램도출

In [ ]:
# We can also look at a the frequency in Nationality of each player 

from collections import Counter
print(Counter(fifa['Nationality'].values)) #국가별 축구선수 합계, 어느국가가 가장 많은지

In [ ]:
#We can limit the counter to output only the five most common nationalities:
Counter(fifa['Nationality'].values).most_common(5) #가장 많은 5개, 튜플로

As you can see England is the most frequent nationality with 1,475 records

In [ ]:
bar_plot = dict(Counter(fifa['Nationality'].values).most_common(5))
plt.bar(*zip(*bar_plot.items()))
plt.show()

In [ ]:
#사용자함수 , 카테고리에서 가장 많은 5개 찾는 함수
def plot_most_common(category):
    bar_plot = dict(Counter(fifa[category].values).most_common(5))
    plt.bar(*zip(*bar_plot.items()))
    plt.show()

In [ ]:
#'Position'에서 가장많은 5개 찾기
plot_most_common('Position')

----------
#### Value Wage단위변경

In [ ]:
# The we can then convert each string into a floating point and multiply by 1e6
value_list = []
for i in list(fifa['Value'].values):
    try:
        value_list.append(float(i)*1e6)
    except(ValueError):
        wage_list.append(np.nan)
fifa['Value_numeric'] = value_list

In [ ]:
#We can do the same for ‘Wage’, by 1e3
wage_list = []
for i in list(fifa['Wage'].values):
    try:
        wage_list.append(float(i)*1e3)
    except(ValueError):
        wage_list.append(np.nan)
fifa['Wage_numeric'] = wage_list
fifa['Wage_numeric']

In [ ]:
 # Let’s filter the dataframe 
    
numerical_columns = fifa[['Height_cm', 'Weight_kg', 'Value_numeric', 'Age', 'Wage_numeric']]

sns.heatmap(numerical_columns.corr(),cmap='YlGnBu', annot=True)
#annot=True : 각 셀에 숫자를 입력
# fmt='d' 는 정수 형태(integer format)로 숫자
#히트맵의 색깔을 cmap='___' 로 설정
plt.show()

In [ ]:
#We can also use box plots to visualize the distribution
#For example the distribution in market value for England, Germany and Spain:

fifa = fifa[fifa['Nationality'].isin(['England', 'Germany', 'Spain'])]
sns.boxplot(x= fifa['Nationality'], y = fifa['Age'])
plt.show()

#그래프를 보면 세 국가의 플레이어 선수들의 나이가 20~30대 사이에 있는것을 볼 수 있다.

-------------------------------------
#### 0716 판다스 강의

In [ ]:
#중복
import pandas as pd
import numpy as np
arr = np.array([1,2,1,2,2,3,3,3])
data = arr.reshape(4,2)
df = pd.DataFrame(data,columns=['a','b'])
df

#### drop_duplicates - 중복제거

In [ ]:
df1= df.copy()
df1.drop_duplicates()  #중복제거(전체 행의 중복된 행 삭제)

In [ ]:
#열 기준으로 
df2=df.copy()
df2.drop_duplicates(subset=['b']) 
#기준이 되는 컬럼 전체 행의 특정 열을 기준으로 중복 제거

In [ ]:
df3 = df.copy()
df3.drop_duplicates(subset = 'b', keep = 'last')  
#중복된 것 중에 마지막거를 남기기.

----------------
 titanic.sex.**replace**({'male':0,'female':1}) \
 titanic=titanic.**rename**(columns={'sex':'gender','age':'age_cat'})\
 titanic.**rename**(str._upper_, axis = 'columns') #소문자는 _lower_

In [ ]:
#컬럼 값 이름 변경
import seaborn as sns
titanic = sns.load_dataset('titanic')
titanic.head()

In [ ]:
titanic.sex.value_counts()

In [ ]:
#특정 컬럼 값 변경
titanic['sex']= titanic.sex.replace({'male':0,'female':1})
titanic.head()

In [ ]:
#열 이름 변경
titanic=titanic.rename(columns={'sex':'gender','age':'age_cat','class':'c_level'})
titanic.head()

In [ ]:
#열이름 대문자로 변경
titanic.columns = map(lambda x : x.upper(),titanic.columns)
titanic.head()

In [ ]:
titanic.rename(columns=str.lower,inplace=True) #소문자는 lower
titanic.head()

In [ ]:
titanic.rename(str.upper, axis = 'columns').head(3)  #소문자는 lower

In [ ]:
#컬럼선택
titanic = titanic[['survived','pclass','gender','c_level']]
titanic.head(3)

In [ ]:
#컬럼 순서 변경 
titanic = titanic[['pclass','gender','c_level','survived']]
titanic.head(3)

In [ ]:
#지금의 경고는 무시
import warnings
warnings.filterwarnings('ignore')

#성별 값 다시 변경
titanic['gender'].replace([1,0],['female','male'], inplace=True)
titanic.head()

### 인코딩  **fit_transform
LableEncoder           
**from sklearn.preprocessing import LabelEncoder**

le = LabelEncoder() # 객체생성                
df[feature] = le.fit_transform(df[feature]) #객체 메소드 이용해서 변환

In [ ]:
#인코딩
#레이블, 원핫인코딩
#인코딩 - LableEncoder 
#개수가 두개면 0,1 세개면 0,1,2 로바꿔줌 
# 숫자크기가 아니라, 카테고리 개념(1번그룹, 2번그룹...)
df = titanic.copy()
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
features = ['gender','c_level']
for feature in features:
    df[feature] = le.fit_transform(df[feature])  #le인코딩 준비 + transform 나눠서 하기도 한다.-> df[feature] 에 적용

df.head(5) #인코딩으로 숫자로 바뀜

In [ ]:
df.gender.value_counts()

In [ ]:
df['c_level'].value_counts()

---------------

In [ ]:
#과제
#Q. 'embarked','who','adult_male' 에 데하여 LableEncoding 하세요
df2 = titanic[['embarked','who','adult_male']]
df2.head(3)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
features = ['embarked','who','adult_male']
for feature in features:
    df2[feature] = le.fit_transform(df2[feature])


df2.head()

In [ ]:
df2.embarked.value_counts()

In [ ]:
df1.who.value_counts()

#### pd.get_dummies(df)

In [ ]:
#인코딩 - OneHotEncoder
#하나의 칼람에 나타내는게 아니라 그룹 개수에 맞춰 열을 늘림 
#열에서 맞으면 1 아니면 0 으로 생김.
#불필요하게 컬럼을 늘리면안됨 
#-과대적합//반대개념으로 과소적합 **의미읽어보기 시험 꼭 나옴

In [ ]:
df = titanic[['sex','class']]
df1 = df.copy()
df1.rename(columns = {'class':'c_level'},inplace=True)
df1.head()

In [ ]:
pd.get_dummies(df1).head(3) #해당되는게 맞으면 1 아니면 0

#### 스케일링 - 정규화/표준화

In [ ]:
from sklearn.datasets import load_boston
boston = load_boston()
print(boston.keys())  #키 확인
boston.target #종속변수 레이블값
#print(boston.DESCR) #관측치개수 506, 속성(열) 13개 등 정보 나옴
boston.feature_names #컬럼이름
df_boston = pd.DataFrame(boston.data,columns=boston.feature_names)
df_boston.head(3) #타겟이 빠짐 , 타겟넣어줘야함

In [ ]:
df_boston['target'] = boston.target  #타겟 - 결과, 종속변수!! 넣어줘야 완성됨.
df_boston.head(3)

In [ ]:
df_boston.info() #데이터프레임 정보

In [ ]:
#스케일링 -정규화
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()  #객체생성

df_boston['RM'] = scaler.fit_transform(df_boston[['RM']])  #클레스메소드적용
df_boston.head()

In [ ]:
df_boston.RM.mean() #평균

-------------

In [ ]:
#과제
#Q. df_boston 전체 컬러메 대하여 정규화를 수행하세요.

In [ ]:
import pandas as pd
from sklearn.datasets import load_boston
boston = load_boston()
df_boston = pd.DataFrame(boston.data,columns=boston.feature_names)
df_b = df_boston.copy()

In [ ]:
boston.keys() #키확인

In [ ]:
#** 타켓 넣어줘야 완성됨
df_b['target'] = boston.target
df_b.head(3) #확인

In [ ]:
df_b.columns

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
features = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B',
for f in features: #전체컬럼
            df_b[f] = scaler.fit_transform(df_b[[f]])
df_b.head(3) #확인

In [ ]:
df_b.RM.mean() #평균

----------------

In [ ]:
#스케일링 - 표준화
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df_boston['INDUS'] = scaler.fit_transform(df_boston[['INDUS']])
df_boston.head()

In [ ]:
df_boston.INDUS.mean()  #평균 0 , 0에 가장 가까운 수

In [ ]:
df_boston.INDUS.std()  #표준편차 1

==> 평균 0 , 표준편차 1 인 표준정규분포

---------------

In [ ]:
#과제
#Q. df_boston 전체 컬럼에 대하여 표준화를 수행하세요

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
features = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B',
for f in features:  #전체컬럼에대해
            df_b[f] = scaler.fit_transform(df_b[[f]])
df_b.head() #확인

--------

In [ ]:
#그래프
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(10,8))
sns.distplot(df_boston[['target']])

In [ ]:
#정규분포에 가깝게 하기 위해서 - 분석 효과가 좋아진다
#로그변환 - 로그함수이용
import numpy as np
df_boston['target'] = np.log1p(df_boston[['target']])
sns.distplot(df_boston[['target']])

In [ ]:
#예측할 때는 다시 환원해서 해야함
#로그 변환 환원 방법
df_boston['target']=np.expm1(df_boston[['target']])
df_boston.head()

정규화, 표준화보다 로그변환이 효과가 좋다.